* {
  font-family: sans-serif;
}

img {
  width: 100%;
}

.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
}

.column-full {
  width: 100%;
}

.column-one-third {
  width: calc(100% / 3);
}

.column-one-fourth {
  width: calc(100% / 4);
}

.column-seventy-percent {
  width: 70%;
}

.column-thirty-percent {
  width: 30%;
}
